
<div>
  <mat-card><chart [options]="chartOptions6" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions7" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions1" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions2" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions3" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions4" style="width: 100%; height: 300px; display: block;"></chart></mat-card>
  <mat-card><chart [options]="chartOptions5" style="width: 100%; height: 300px; display: block;"></chart></mat-card>


</div>
